@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign in";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@await Html.PartialAsync("_Scripts")

@model Web.ViewModels.LoginModel

<head>
    <title>@ViewData["Title"]</title>
</head>
<form asp-action="Login" asp-controller="Account" asp-antiforgery="true" method="post">
    <div class="container w-25 d-grid gap-3">
        <h1 class="text-center">Login</h1>
        <div class="validation text-center" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email" class="form-label">Email</label><br />
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label">Password</label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Login" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
