@{
    ViewData["Title"] = "index";
    Layout = "Layout";
}

<h1>Index</h1>
<form action="/home/somepage">
    <a href="/home/somepage"><button type="button" class="btn btn-primary">To somepage</button></a>
</form>



