@{ 
    Layout = "_Layout";
}

@model IEnumerable<DAL.Models.User>

<h2>Users:</h2>
<br />

<form action="Home/Register">
    <input type="submit" value="Register new user" />
</form>

    <table>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Login</td>
        </tr>
        @{ 
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Login</td>
                </tr>
            }
        }
    </table>

