@{
    Layout = "_Layout";
}


@model Web.ViewModels.LoginModel

<h2>Login</h2>

<a href = "/Home/Register">Register</a>

<form method="post">
    <label>Your email</label>
    <input type="email" name="Email" /><br />

    <label>Your password</label>
    <input type="password" name="Password" /><br />

    <input type="submit" value="Login" />
</form>
