@{
    ViewData["Title"] = "somepage";
    Layout = "Layout";
}

<h1>SomePage</h1>
<form action="/home/index">
    <a href="/home/index"><button type="button" class="btn btn-primary">To index</button></a>
</form>





