@{
    Layout = "_Layout";
    ViewData["Title"] = "Upload";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@await Html.PartialAsync("_Scripts")

@model Web.ViewModels.FileLoadModel

<head>
    <title>@ViewData["Title"]</title>
</head>
<form asp-action="Upload" asp-controller="Files" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div class="container w-25 d-grid gap-3">
        <h1 class="text-center">Upload</h1>
        <div class="validation text-center" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="UploadedFile" class="form-label">File</label><br />
            <input type="file" asp-for="UploadedFile" class="form-control" />
            <span asp-validation-for="UploadedFile" />
        </div>
        <div class="form-group">
            <label asp-for="Category" class="form-label">Category</label><br />
            <input asp-for="Category" class="form-control"/>
            <span asp-validation-for="Category" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label">Description</label><br />
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" />
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Upload" class="btn btn-outline-dark" />
        </div>
    </div>
</form>