@{
    Layout = "_Layout";
    ViewData["Title"] = "User search";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Web.ViewModels.UsersSearchModel

<head>
    <title>@ViewData["Title"]</title>
</head>
<div class="d-grid gap-3">
    <div>
        <form asp-action="UsersSearch" asp-controller="Hosting" method="get">
            <div class="container w-25 d-grid  gap-3">
                <h1 class="text-center">User search</h1>
                <div class="form-group">
                    <label class="form-label">Enter nickname</label><br />
                    <input type="search" asp-for="SearchQuery" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Search" class="btn btn-outline-dark" />
                </div>
            </div>
        </form>
    </div>
    <div>
        @{
            if (Model != null)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nickname</th>
                            <th scope="col">Role</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Login</td>
                                <td>@user.RoleName</td>
                                <td>@Html.ActionLink("Userpage", "UserPage", "Hosting", new { userId = user.Id })</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
    </div>
</div>
